:root {
  --bg-dark: #09060d;
  --deep-plum: #1b1320;
  --rose-gold: #d9a58c;
  --soft-gold: #f1c7aa;
  --lavender: #b7a5d6;
  --cream: #f6f0eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behaviour: smooth;
}

body {
  background-color: var(--bg-dark);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}